@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.css-styled-table {
    box-sizing: content-box;
    background: rgba(75, 75, 100, 0.7);
    color: white;
    font-family: 'Open Sans', sans-serif;
    border-collapse: collapse;
    margin: 5px;
    border: rgb(125, 125, 175) 4px solid;
}

.css-styled-header {
    border: rgb(125, 125, 175) 4px solid;
    background: rgba(50, 50, 50);
    text-align: left;
}

.css-styled-header-cell {
    padding: 4px 2px;
}

.css-styled-row {
    border: rgba(50, 50, 50) 2px solid;
    background: rgba(100, 100, 110);
    text-align: left;
}

.css-styled-row:nth-child(odd) {
    background: rgba(75, 75, 80);
}

.css-styled-cell {
    padding: 2px;
}